@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.heading {
  margin-top: 2rem;
  text-align: center;
}
.searchBox {
  margin: 5rem auto;
  width: 60%;
  position: relative;
}
.searchBox .inputBox {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 5rem 0.5rem 1rem;
  border-radius: 3rem;
}
i {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  cursor: pointer;
}
.resultImages {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.eachImage {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 40rem;
}
.eachImage img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.eachImage a {
  text-decoration: none;
  color: rgb(92, 92, 92);
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}
.hangOn {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  background-color: rgb(196, 196, 196);
  display: none;
}
.hangOn img {
  height: 3rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
@media (max-width: 450px) {
  .eachImage {
    max-width: 25rem;
  }
  .eachImage img {
    width: 25rem;
    height: 25rem;
  }
}
